<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panen Temu | Artikel</title>
    <link rel="shortcut icon" href="../../public/img/logo/panenTemuPutih.png" type="image/x-icon">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/06d7539743.js" crossorigin="anonymous"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/css/artikel/style.css" />
    <link rel="stylesheet" href="../../public/css/style.css">
    <style>
        .content-container {
            background-image: url("../../public/img/artikel/bag.png");
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../public/img/logo/panenTemu-navbar.svg" alt="Logo Panen Temu" />
                PANEN TEMU
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="../index.html">Beranda</a></li>
                <li class="nav-item"><a class="nav-link" href="../product/allproduct.html">Produk</a></li>
                <li class="nav-item"><a class="nav-link" href="../artikel/allartikel.html">Artikel</a></li>
                <li class="nav-item"><a class="nav-link" href="../tentangKami.html">Tentang Kami</a></li>
                <li class="nav-item show-on-small"><a class="nav-link" href="#">Chat</a></li>
                <li class="nav-item show-on-small"><a class="nav-link" href="../pelanggan/profilePelanggan.html">Profile</a></li>
                <li class="nav-item hide-on-small"><a class="nav-link" href="#"><i class="bi bi-bell bell-custom"></i></a></i></li>
                </ul>
                <div class="vertical-divider hide-on-small"></div>
                <img class="profile-image hide-on-small" src="../../public/img/profile/kucing-jamur.png" alt="" >
            </div>
        </div>
    </nav>

<div class="content-container">
    
    <h1 class="titlearti">Artikel Edukasi Pertanian</h1>
    <p class="nama-main">Simak artikel terbaru dan pelajari Trik & tips serta berita terbaru tentang pertanian</p>
    <div class="search-box">
        <input type="text" placeholder="Cari Blog..." />
        <button>Cari</button>
    </div>


    <div class="content-wrapper my-4">
        <h1 class="mb-4">Artikel Terbaru</h1>
        <div class="row g-4">
            
            <div class="col-md-6">
                <div class="cardarti cardarti-main border-0 shadow-sm">
                    <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                        <img src="../../public/img/artikel/fot arti7.jpg" class="cardarti-img-top img-main" alt="Rice field">
                        <div class="cardarti-body">
                            <p class="category-tag tips-trik">Tips & Trik</p>
                            <h5 class="title-article" style="color: #1E785D;">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                            <p class="date-article">Rabu, 9 Oktober 2024</p>
                            <p class="paragraf-arti">
                                Sejak kecil, saya sudah terbiasa dengan pemandangan sawah hijau menghampar, berkilauan di bawah terik matahari. Di desa tempat saya dibesarkan, kegiatan bertani adalah napas kehidupan. 
                                Para petani, dengan alat-alat tradisional, memanen padi yang kelak menjadi nasi di meja makan kami. Sebuah kehidupan sederhana namun damai. 
                            </p>
                            <p class="paragraf-arti">
                                Sejak kecil, saya sudah terbiasa dengan pemandangan sawah hijau menghampar, berkilauan di bawah terik matahari. Di desa tempat saya dibesarkan, kegiatan bertani adalah napas kehidupan. 
                                Para petani, dengan alat-alat tradisional, memanen padi yang kelak menjadi nasi di meja makan kami. 
                            </p>
                        </div>
                    </a>
                </div>
            </div>
    
            
            <div class="col-md-6 col-lg-6">
                <div class="row g-4">
                    <div class="col-sm-6">
                        <div class="cardarti cardarti-secondary border-0 shadow-sm">
                            <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                                <img src="../../public/img/artikel/fot arti1.jpg" class="cardarti-img-top img-secondary" alt="E-commerce in agriculture">
                                <div class="cardarti-body">
                                    <p class="category-tag teknologi">Teknologi</p>
                                    <h5 class="title-article">Solusi Efisien Untuk E-Commerce Agrikultur: Pendekatan Hybrid dalam Klasifikasi</h5>
                                    <p class="date-article">Selasa, 3 September 2024</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cardarti cardarti-secondary border-0 shadow-sm">
                            <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                                <img src="../../public/img/artikel/tips6.jpeg" class="cardarti-img-top img-secondary" alt="Plant nutrition">
                                <div class="cardarti-body">
                                    <p class="category-tag tips-trik">Tips & Trik</p>
                                    <h5 class="title-article">Nutrisi Tambahan dengan Musik untuk Meningkatkan Pertumbuhan Tanaman</h5>
                                    <p class="date-article">Jumat, 17 November 2023</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cardarti cardarti-secondary border-0 shadow-sm">
                            <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                                <img src="../../public/img/artikel/fot arti2.jpg" class="cardarti-img-top img-secondary" alt="Organic farming">
                                <div class="cardarti-body">
                                    <p class="category-tag teknologi">Teknologi</p>
                                    <h5 class="title-article">Pertanian Organik untuk Meningkatkan Keberlanjutan Lingkungan</h5>
                                    <p class="date-article">Sabtu, 25 Agustus 2024</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cardarti cardarti-secondary border-0 shadow-sm">
                            <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                                <img src="../../public/img/artikel/tips5.jpeg" class="cardarti-img-top img-secondary" alt="Sustainable agriculture">
                                <div class="cardarti-body">
                                    <p class="category-tag tips-trik">Tips & Trik</p>
                                    <h5 class="title-article">Pertanian Organik untuk Meningkatkan Keberlanjutan Lingkungan</h5>
                                    <p class="date-article">Senin, 1 Mei 2024</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
    

<div class="container my-4">
    <h1 class="mb-4">Artikel Pertanian</h1>
    <div class="row g-4">
        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                    <img src="../../public/img/artikel/fot arti3.jpg" class="cardarti-img-top" alt="Rice field">
                    <div class="cardarti-body">
                        <p class="category-tag teknologi">Teknologi</p>
                        <h5 class="cardarti-title">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                        <p class="cardarti-date">Rabu, 9 Oktober 2024</p>
                    </div>
                </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                    <img src="../../public/img/artikel/tips4.jpeg" class="cardarti-img-top" alt="E-commerce in agriculture">
                        <div class="cardarti-body">
                            <p class="category-tag tips-trik">Tips & Trik</p>
                            <h5 class="cardarti-title">Solusi Efisien Untuk E-Commerce Agrikultur: Pendekatan Hybrid dalam Klasifikasi</h5>
                            <p class="cardarti-date">Selasa, 3 September 2024</p>
                        </div>
                </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/fot arti4.jpg" class="cardarti-img-top" alt="Plant nutrition">
                <div class="cardarti-body">
                    <p class="category-tag teknologi">Teknologi</p>
                    <h5 class="cardarti-title">Nutrisi Tambahan dengan Musik untuk Meningkatkan Pertumbuhan Tanaman</h5>
                    <p class="cardarti-date">Jumat, 17 November 2023</p>
                </div>
                </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/tips3.jpeg" class="cardarti-img-top" alt="Plant nutrition">
                <div class="cardarti-body">
                    <p class="category-tag tips-trik">Tips & Trik</p>
                    <h5 class="cardarti-title">Nutrisi Tambahan dengan Musik untuk Meningkatkan Pertumbuhan Tanaman</h5>
                    <p class="cardarti-date">Jumat, 17 November 2023</p>
                </div>
            </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/fot arti5.jpg" class="cardarti-img-top" alt="Plant nutrition">
                <div class="cardarti-body">
                    <p class="category-tag teknologi">Teknologi</p>
                    <h5 class="cardarti-title">Nutrisi Tambahan dengan Musik untuk Meningkatkan Pertumbuhan Tanaman</h5>
                    <p class="cardarti-date">Jumat, 17 November 2023</p>
                </div>
            </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/tips2.jpg" class="cardarti-img-top" alt="Plant nutrition">
                <div class="cardarti-body">
                    <p class="category-tag tips-trik">Tips & Trik</p>
                    <h5 class="cardarti-title">Nutrisi Tambahan dengan Musik untuk Meningkatkan Pertumbuhan Tanaman</h5>
                    <p class="cardarti-date">Jumat, 17 November 2023</p>
                </div>
            </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/fot arti6.jpg" class="cardarti-img-top" alt="Rice field">
                <div class="cardarti-body">
                    <p class="category-tag teknologi">Teknologi</p>
                    <h5 class="cardarti-title">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                    <p class="cardarti-date">Rabu, 9 Oktober 2024</p>
                </div>
            </a>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/tips1.jpeg" class="cardarti-img-top" alt="Rice field">
                <div class="cardarti-body">
                    <p class="category-tag tips-trik">Tips & Trik</p>
                    <h5 class="cardarti-title">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                    <p class="cardarti-date">Rabu, 9 Oktober 2024</p>
                </div>
            </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
            <div class="cardarti h-100 border-0 shadow-sm">
                <img src="../../public/img/artikel/fot arti7.jpg" class="cardarti-img-top" alt="Rice field">
                <div class="cardarti-body">
                    <p class="category-tag teknologi">Teknologi</p>
                    <h5 class="cardarti-title">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                    <p class="cardarti-date">Rabu, 9 Oktober 2024</p>
                </div>
            </a>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/tips1.jpeg" class="cardarti-img-top" alt="Rice field">
                <div class="cardarti-body">
                    <p class="category-tag tips-trik">Tips & Trik</p>
                    <h5 class="cardarti-title">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                    <p class="cardarti-date">Rabu, 9 Oktober 2024</p>
                </div>
            </a>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
            <div class="cardarti h-100 border-0 shadow-sm">
                <img src="../../public/img/artikel/fot arti7.jpg" class="cardarti-img-top" alt="Rice field">
                <div class="cardarti-body">
                    <p class="category-tag teknologi">Teknologi</p>
                    <h5 class="cardarti-title">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                    <p class="cardarti-date">Rabu, 9 Oktober 2024</p>
                </div>
            </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="cardarti h-100 border-0 shadow-sm">
                <a href="detailartikel.html" class="text-decoration-none text-reset d-block">
                <img src="../../public/img/artikel/tips1.jpeg" class="cardarti-img-top" alt="Rice field">
                <div class="cardarti-body">
                    <p class="category-tag tips-trik">Tips & Trik</p>
                    <h5 class="cardarti-title">Inovasi Pertanian Digital, Solusi Krisis Pangan di Tengah Lonjakan Harga Beras</h5>
                    <p class="cardarti-date">Rabu, 9 Oktober 2024</p>
                </div>
            </a>
            </div>
        </div>

    </div>
</div>

<footer class="footer">
<div class="container-footer">
    <div class="footer-content">
    <div class="footer-left">
        <img src="../../public/img/artikel/panenTemuPutih.png" alt="Panen Temu Logo" class="logo-footer hide-on-small" />
        <div class="social-icons">
        <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://whatsapp.com"><i class="fa-solid fa-phone"></i></a>
        <a href="https://gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>
    <div class="footer-address">
        <p class="address">
        Alamat: Budi Santoso, Jl. Merpati No. 45, RT 02 RW 08, Kel. Menteng, Kec. Menteng, Jakarta Pusat, DKI Jakarta 10310, Indonesia
        </p>
    </div>
    <div class="footer-concept hide-on-small">
        <h3>Konsep Panen-Temu</h3>
        <p>Panen Temu - Platform non-profit yang menghubungkan petani langsung dengan konsumen, memungkinkan transaksi langsung di lahan pertanian untuk hasil panen segar, harga adil, dan pemberdayaan petani kecil tanpa perantara.</p>
    </div>
    </div>
    <div class="footer-bottom">
    <p>&copy; 2024 <strong>AL-FURQON2</strong>. All Rights Reserved</p>
    </div>
</div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel"><i class="leaf-icon">&#127793;</i> Login Pecinta Tanaman</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Masuk untuk berbagi kecintaanmu terhadap dunia tanaman!</p>
        <form>
        <div class="mb-3">
            <label for="email" class="form-label">Alamat Email</label>
            <input type="email" class="form-control" id="email" placeholder="nama@contoh.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Kata Sandi</label>
            <input type="password" class="form-control" id="password" placeholder="Kata Sandi Anda">
        </div>
        </form>
        <div class="text-center my-3">atau masuk menggunakan</div>
        <div class="d-flex justify-content-evenly">
        <button type="button" class="btn btn-google">
            <i class="bi bi-google"></i> Google
        </button>
        <button type="button" class="btn btn-facebook">
            <i class="bi bi-facebook"></i> Facebook
        </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary">Masuk</button>
    </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>