<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panen Temu | Artikel</title>
    <link rel="shortcut icon" href="../../img/logo/panenTemuPutih.png" type="image/x-icon">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/06d7539743.js" crossorigin="anonymous"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/artikel/style.css" />
    <link rel="stylesheet" href="../../css/style.css">
    <style>
        .content-container {
            background-image: url("../../img/artikel/bag.png");
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../img/logo/panenTemu-navbar.svg" alt="Logo Panen Temu" />
                PANEN TEMU
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="./index.html">Beranda</a></li>
                <li class="nav-item"><a class="nav-link" href="../product/allproduct.html">Produk</a></li>
                <li class="nav-item"><a class="nav-link" href="../artikel/allartikel.html">Artikel</a></li>
                <li class="nav-item"><a class="nav-link" href="../tentangKami.html">Tentang Kami</a></li>
                <li class="nav-item show-on-small"><a class="nav-link" href="#">Chat</a></li>
                <li class="nav-item show-on-small"><a class="nav-link" href="../pelanggan/profilePelanggan.html">Profile</a></li>
                <li class="nav-item hide-on-small"><a class="nav-link" href="#"><i class="bi bi-bell bell-custom"></i></a></i></li>
                </ul>
                <div class="vertical-divider hide-on-small"></div>
                <img class="profile-image hide-on-small" src="../../img/profile/kucing-jamur.png" alt="" >
            </div>
        </div>
    </nav>

<div class="container mt-4">
    <div class="row">

        <div class="col-lg-8">
            <nav class="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="index.html" >Beranda</a></li>
                    <li class="breadcrumb-item"><a href="allartikel.html">Artikel</a></li>
                    <li class="breadcrumb-item active" aria-current="page">  Memperingati Hari Pangan Sedunia, Eratani....</li>
                </ol>
            </nav>
            <h1 class="title">
                Memperingati Hari Pangan Sedunia, Eratani Gandeng Bank Jatim untuk Perluas Akses Pendanaan Melalui KUR dan Kredit Jatim Mikro
            </h1>
            <p class="text-muted">Rabu, 9 Oktober 2024</p>

            <div class="news-item mb-4">
                <div class="news-image mb-3">
                    <img src="../../img/artikel/fot arti3.jpg" alt="No Photo">
                </div>
                <div class="news-content">
                    <p class="paragraf-arti">
                        Sejak kecil, saya sudah terbiasa dengan pemandangan sawah hijau menghampar, berkilauan di bawah terik matahari. Di desa tempat saya dibesarkan, kegiatan bertani adalah napas kehidupan. 
                        Para petani, dengan alat-alat tradisional, memanen padi yang kelak menjadi nasi di meja makan kami. Sebuah kehidupan sederhana namun damai. Tetapi, seiring berjalannya waktu, saya menyadari bahwa tantangan yang dihadapi petani kita tidak lagi sesederhana dahulu. Gagal panen makin sering terjadi, rantai distribusi yang kurang efisien menambah panjang masalah, pasokan beras langka, harga melonjak tak terkira.
                    </p>
                    <P class="paragraf-arti">
                        Seperti kebanyakan orang, saya pun bertanya-tanya: Apakah ada solusi untuk mengatasi krisis pangan ini? Meskipun sepertinya jawaban tersebut sudah ada di depan mata kita, yakni teknologi digital.
                        Pertanian digital mungkin terdengar seperti jargon futuristik, tetapi inilah yang bisa menjadi penyelamat sektor pangan kita. Bayangkan sensor IoT yang memantau kesehatan tanaman secara real-time, drone yang menyemprotkan pestisida secara presisi, atau platform e-commerce yang menghubungkan petani langsung dengan konsumen tanpa perantara. 
                    </P>
                    <P class="paragraf-arti">
                        Bayangkan ketika para petani tak lagi khawatir dengan pasokan air, karena aplikasi digital bisa memprediksi kapan hujan akan turun atau berapa kadar kelembaban tanah di lahan mereka. Tidak perlu lagi menebak-nebak kapan harus menanam atau kapan harus panen. Ini adalah masa depan yang sudah (harus) dimulai sekarang.
                        Bahkan menurut jurnal Digital Agriculture: The Future of Sustainable Farming in Asia (2023), adopsi teknologi digital mampu meningkatkan efisiensi rantai pasok hingga 30%. Angka ini tidak main-main, karena artinya, akan lebih sedikit pangan yang terbuang, dan harga beras yang melonjak bisa ditekan. Jadi, jika dulu beras menjadi simbol stabilitas pangan, sekarang teknologi adalah simbol stabilitas masa depan pangan kita.
                    </P>
                    <br>
                    <H3>Peran Teknologi dalam Menekan Biaya Produksi dan Distribusi Pangan
                    </H3>
                    <br>
                    <P class="paragraf-arti">
                        Selama bertahun-tahun, rantai distribusi pangan Indonesia terkenal berliku-liku. Beras yang dipanen di desa bisa melewati beberapa tangan sebelum sampai ke meja makan kita, dan setiap tangan itu mengambil 'potongan' yang membuat harga semakin naik.Di sini, teknologi memainkan peran yang sangat penting. Platform digital seperti marketplace pertanian memungkinkan petani menjual langsung hasil panennya kepada konsumen tanpa banyak perantara. Hasilnya? Harga yang lebih terjangkau bagi konsumen, dan keuntungan yang lebih besar bagi petani kita.
                        Bahkan, teknologi digital bisa membantu mengurangi biaya produksi. Misalnya, ada aplikasi yang bisa memantau penggunaan air dan pupuk secara efisien. Dulu, petani harus menebak-nebak berapa banyak pupuk yang dibutuhkan. 
                    </P>
                    <P class="paragraf-arti">
                        Selama bertahun-tahun, rantai distribusi pangan Indonesia terkenal berliku-liku. Beras yang dipanen di desa bisa melewati beberapa tangan sebelum sampai ke meja makan kita, dan setiap tangan itu mengambil 'potongan' yang membuat harga semakin naik.Di sini, teknologi memainkan peran yang sangat penting. Platform digital seperti marketplace pertanian memungkinkan petani menjual langsung hasil panennya kepada konsumen tanpa banyak perantara. Hasilnya? Harga yang lebih terjangkau bagi konsumen, dan keuntungan yang lebih besar bagi petani kita.
                        Bahkan, teknologi digital bisa membantu mengurangi biaya produksi. Misalnya, ada aplikasi yang bisa memantau penggunaan air dan pupuk secara efisien. Dulu, petani harus menebak-nebak berapa banyak pupuk yang dibutuhkan. 
                    </P>
                    <P class="paragraf-arti">
                        Selama bertahun-tahun, rantai distribusi pangan Indonesia terkenal berliku-liku. Beras yang dipanen di desa bisa melewati beberapa tangan sebelum sampai ke meja makan kita, dan setiap tangan itu mengambil 'potongan' yang membuat harga semakin naik.Di sini, teknologi memainkan peran yang sangat penting. Platform digital seperti marketplace pertanian memungkinkan petani menjual langsung hasil panennya kepada konsumen tanpa banyak perantara. Hasilnya? Harga yang lebih terjangkau bagi konsumen, dan keuntungan yang lebih besar bagi petani kita.
                        Bahkan, teknologi digital bisa membantu mengurangi biaya produksi. Misalnya, ada aplikasi yang bisa memantau penggunaan air dan pupuk secara efisien. Dulu, petani harus menebak-nebak berapa banyak pupuk yang dibutuhkan. 
                    </P>
    
                    <H3>Peran Teknologi dalam Menekan Biaya Produksi dan Distribusi Pangan
                    </H3>
                    <P class="paragraf-arti">
                        Selama bertahun-tahun, rantai distribusi pangan Indonesia terkenal berliku-liku. Beras yang dipanen di desa bisa melewati beberapa tangan sebelum sampai ke meja makan kita, dan setiap tangan itu mengambil 'potongan' yang membuat harga semakin naik.Di sini, teknologi memainkan peran yang sangat penting. Platform digital seperti marketplace pertanian memungkinkan petani menjual langsung hasil panennya kepada konsumen tanpa banyak perantara. Hasilnya? Harga yang lebih terjangkau bagi konsumen, dan keuntungan yang lebih besar bagi petani kita.
                        Bahkan, teknologi digital bisa membantu mengurangi biaya produksi. Misalnya, ada aplikasi yang bisa memantau penggunaan air dan pupuk secara efisien. Dulu, petani harus menebak-nebak berapa banyak pupuk yang dibutuhkan. 
                    </P>
                    <P class="paragraf-arti">
                        Selama bertahun-tahun, rantai distribusi pangan Indonesia terkenal berliku-liku. Beras yang dipanen di desa bisa melewati beberapa tangan sebelum sampai ke meja makan kita, dan setiap tangan itu mengambil 'potongan' yang membuat harga semakin naik.Di sini, teknologi memainkan peran yang sangat penting. Platform digital seperti marketplace pertanian memungkinkan petani menjual langsung hasil panennya kepada konsumen tanpa banyak perantara. Hasilnya? Harga yang lebih terjangkau bagi konsumen, dan keuntungan yang lebih besar bagi petani kita.
                        Bahkan, teknologi digital bisa membantu mengurangi biaya produksi. Misalnya, ada aplikasi yang bisa memantau penggunaan air dan pupuk secara efisien. Dulu, petani harus menebak-nebak berapa banyak pupuk yang dibutuhkan. 
                    </P>
                    <P class="paragraf-arti">
                        Selama bertahun-tahun, rantai distribusi pangan Indonesia terkenal berliku-liku. Beras yang dipanen di desa bisa melewati beberapa tangan sebelum sampai ke meja makan kita, dan setiap tangan itu mengambil 'potongan' yang membuat harga semakin naik.Di sini, teknologi memainkan peran yang sangat penting. Platform digital seperti marketplace pertanian memungkinkan petani menjual langsung hasil panennya kepada konsumen tanpa banyak perantara. Hasilnya? Harga yang lebih terjangkau bagi konsumen, dan keuntungan yang lebih besar bagi petani kita.
                        Bahkan, teknologi digital bisa membantu mengurangi biaya produksi. Misalnya, ada aplikasi yang bisa memantau penggunaan air dan pupuk secara efisien. Dulu, petani harus menebak-nebak berapa banyak pupuk yang dibutuhkan. 
                    </P>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-4 sticky-sidebar">
            <div class="cardarti category-card p-3">
                <h3 class="card-title">Kategori</h3>
                <div class="category-item">Teknologi</div>
                <div class="category-item">Tips & Trik</div>
                <div class="category-item">Berita Pertanian</div>
                <div class="category-item">Pupuk</div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
<div class="container-footer">
    <div class="footer-content">
    <div class="footer-left">
        <img src="../../img/artikel/panenTemuPutih.png" alt="Panen Temu Logo" class="logo-footer  hide-on-small" />
        <div class="social-icons">
        <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://whatsapp.com"><i class="fa-solid fa-phone"></i></a>
        <a href="https://gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>
    <div class="footer-address">
        <p class="address">
        Alamat: Budi Santoso, Jl. Merpati No. 45, RT 02 RW 08, Kel. Menteng, Kec. Menteng, Jakarta Pusat, DKI Jakarta 10310, Indonesia
        </p>
    </div>
    <div class="footer-concept hide-on-small">
        <h3>Konsep Panen-Temu</h3>
        <p>Panen Temu - Platform non-profit yang menghubungkan petani langsung dengan konsumen, memungkinkan transaksi langsung di lahan pertanian untuk hasil panen segar, harga adil, dan pemberdayaan petani kecil tanpa perantara.</p>
    </div>
    </div>
    <div class="footer-bottom">
    <p>&copy; 2024 <strong>AL-FURQON2</strong>. All Rights Reserved</p>
    </div>
</div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel"><i class="leaf-icon">&#127793;</i> Login Pecinta Tanaman</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Masuk untuk berbagi kecintaanmu terhadap dunia tanaman!</p>
        <form>
        <div class="mb-3">
            <label for="email" class="form-label">Alamat Email</label>
            <input type="email" class="form-control" id="email" placeholder="nama@contoh.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Kata Sandi</label>
            <input type="password" class="form-control" id="password" placeholder="Kata Sandi Anda">
        </div>
        </form>
        <div class="text-center my-3">atau masuk menggunakan</div>
        <div class="d-flex justify-content-evenly">
        <button type="button" class="btn btn-google">
            <i class="bi bi-google"></i> Google
        </button>
        <button type="button" class="btn btn-facebook">
            <i class="bi bi-facebook"></i> Facebook
        </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary">Masuk</button>
    </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
